{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * Craft push notifications plugin for Craft CMS 3.x
 *
 * Craft push notifications Settings.twig
 *
 * @author    Levinriegner
 * @copyright Copyright (c) 2019 Levinriegner
 * @link      https://levinriegner.com
 * @package   CraftPushNotifications
 * @since     0.1.0
 */
#}

{% import "_includes/forms" as forms %}

{% do view.registerAssetBundle("levinriegner\\craftpushnotifications\\assetbundles\\craftpushnotifications\\CraftPushNotificationsAsset") %}

<h1>APNS configuration</h1>

{{ forms.selectField({
    label: 'APNS App bundle ID',
    instructions: 'Enter the bundle ID for app obtained from Apple developer account',
    id: 'apnsAuthType',
    name: 'apnsAuthType',
    options: authTypes,
    value: settings['apnsAuthType']})
}}

{{ forms.textField({
    label: 'APNS App bundle ID',
    instructions: 'Enter the bundle ID for app obtained from Apple developer account',
    id: 'apnsBundleId',
    name: 'apnsBundleId',
    value: settings['apnsBundleId']})
}}

<h2>Enter the following fields only if APNS is configured with new token based auth</h2>

{{ forms.textField({
    label: 'APNS key ID',
    instructions: '(Necessary if token based auth) Enter the Key ID obtained from Apple developer account.',
    id: 'apnsKeyId',
    name: 'apnsKeyId',
    value: settings['apnsKeyId']})
}}

{{ forms.textField({
    label: 'APNS team ID',
    instructions: '(Necessary if token based auth) Enter the Team ID obtained from Apple developer account',
    id: 'apnsTeamId',
    name: 'apnsTeamId',
    value: settings['apnsTeamId']})
}}

{{ forms.textField({
    label: 'APNS key path',
    instructions: '(Necessary if token based auth) Enter the path to private key (.p8 file)',
    id: 'apnsTokenKeyPath',
    name: 'apnsTokenKeyPath',
    value: settings['apnsTokenKeyPath']})
}}

{{ forms.textField({
    label: 'APNS key secret',
    instructions: '(Necessary if token based auth) Enter the private key secret (',
    id: 'apnsTokenKeySecret',
    name: 'apnsTokenKeySecret',
    value: settings['apnsTokenKeySecret']})
}}

<h2>Enter the following fields if APNS is configured with the old certificate based auth</h2>

{{ forms.textField({
    label: 'APNS key path',
    instructions: '(Necessary if token based auth) Enter the path to private key (.p8 file)',
    id: 'apnsKeyPath',
    name: 'apnsKeyPath',
    value: settings['apnsKeyPath']})
}}

{{ forms.textField({
    label: 'APNS key secret',
    instructions: '(Necessary if token based auth) Enter the private key secret (',
    id: 'apnsKeySecret',
    name: 'apnsKeySecret',
    value: settings['apnsKeySecret']})
}}